Source: libawssum-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Maintainer: Andrew Chilton <chilts@appsattic.com>
Standards-Version: 3.8.3
Homepage: http://www.appsattic.com/open-source/awssum/

Package: libawssum-perl
Architecture: all
Depends: ${misc:Depends}, libjson-any-perl, libdigest-hmac-perl, libdigest-sha1-perl, libmoose-perl, libxml-simple-perl, libwww-perl, liburi-perl, libstring-random-perl, libdate-simple-perl, libdatetime-perl
Description: some helper modules which exclusively use a config file for configuration
 Projectus is a group of modules which can be re-used from project to  project. They
 exclusively use a config file to determine the best possible action, whether that is
 a log directory, a database connection or anything else.

Package: awssum
Architecture: all
Depends: ${misc:Depends}, libconfig-simple-perl, liblog-log4perl-perl, libmoose-perl, libawssum-perl (= ${Source-Version})
Description: some helper modules which exclusively use a config file for configuration
 Projectus is a group of modules which can be re-used from project to  project. They
 exclusively use a config file to determine the best possible action, whether that is
 a log directory, a database connection or anything else.
